.row
  .span12
    %h3
      Schedule

.row
  .span12
    %table.table.table-striped
      %thead
        %th
          - @days.each do |day|
            %th
              .text-center
                = Date::DAYNAMES[day.wday]
      %tbody
        - Booking::AVAILABLE_TIMES.each do |time|
          %tr
            %td
              #{time}:00
            - @days.each do |day|
              - booking = Booking.find_by_day_and_time(day, time)
              %td
                .text-center
                  - if booking
                    = booking.user.name
                  - else
                    %button.make-booking.btn.btn-success{day: day, time: time}
                      Available

#make-booking-modal.modal.hide.fade-in
  .modal-header
    %h3 Booking
  .modal-body
    = form_tag({:controller => 'schedule', :action => 'create'}, :method => :get) do
      %label
        %input{type: 'hidden', id: 'day', name: 'day', value: ''}
        %input{type: 'hidden', id: 'time',  name: 'time', value: ''}
        Name
        %input{type: 'text', id: 'user_name', name: 'user_name'}
      %button.btn.btn-success Book
