.row
  .span12
    %h3
      Schedule

.row
  .span12
    %table.table.table-striped
      %thead
        %th
          - @days.each do |day|
            %th
              .text-center
                = Date::DAYNAMES[day.wday]
      %tbody
        - Booking::AVAILABLE_TIMES.each do |time|
          %tr
            %td
              #{time}:00
            - @days.each do |day|
              - booking = Booking.find_by_day_and_time(day, time)
              %td
                .text-center
                  - if booking
                    = booking.user.name
                  - else
                    %button.btn.btn-success
                      Available
